.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  max-height: 100vh;
  /* max-height: 100vh; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-family: SFCompact;
}

.loaderBox {
  background-color: white;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: SFCompact;
}

@font-face {
  font-family: Lequire;
  src: url(Assets/lequire/Lequire.otf);
}
@font-face {
  font-family: SFCompact;
  src: url(Assets/SF_Compact/SFCompactText-Regular.otf);
}
@font-face {
  font-family: BuffalordGradient;
  src: url(Assets/buffalord/BuffalordDemoGradient.ttf);
}
@font-face {
  font-family: Buffalord;
  src: url(Assets/buffalord/BuffalordDemoRegular.ttf);
}
.lequire {
  font-family: Lequire;
}
.buffalord {
  font-family: Buffalord;
  font-size: 1.5em;
}
.buffalord-g {
  font-family: BuffalordGradient;
  font-size: 1.5em;
}

.sideBarContainer {
  background-color: rgb(250, 250, 250);
  height: 100vh;
  min-width: 12.5em;
  max-width: 12.5em;
  overflow: hidden;
  /* padding-top: 7.5vh; */
  padding-top: 3em;
}

.container {
  padding: 3em 1em 3em 3em;
  display: flex;
  flex-grow: 1;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  overflow: scroll;
}

*:focus {
  outline: none;
}

.signInPage {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(120deg, #fd3a84 0%, #ffa68d 100%);
}

.signInContainer {
  box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.29);
  text-align: center;
  background-color: white;
  min-width: 17em;
  max-width: 25em;
  margin: auto;
  margin-top: 10vh;
  padding: 4rem;
  border-radius: 0.5rem;
}
.signInForm {
  margin: auto;
  width: 15em;
  display: flex;
  flex-direction: column;
}
.signInForm input {
  padding: 1em;
  margin: 0.5em;
  /* border-radius: 1em; */
  border: 2px solid rgb(230, 230, 230);
  transition: border 0.2s linear, border-radius 0.2s linear;
}
.signInForm input:focus {
  border: 2px solid rgb(230, 230, 230);
}

.loginButtonContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.loginButtonContainer button {
  flex-grow: 1;
  border: 20px;
  background-color: rgb(218, 218, 218);
  padding: 0.75em;
  margin: 0.5em;
  border-radius: 0.25em;
  transition: background-color 0.3s linear, transform 0.3s linear,
    box-shadow 0.3s linear;
  font-family: SFCompact;
  background-image: linear-gradient(120deg, #fd3a84 0%, #ffa68d 100%);
  color: #fff;
  text-transform: uppercase;
}
.loginButtonContainer button:hover {
  box-shadow: 0 1rem 2rem rgba(255, 21, 21, 0.19),
    0 0.6rem 0.6rem rgba(255, 21, 21, 0.23);
  transform: translateY(-0.1rem);
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

a {
  color: #fd3a84;
  font-weight: normal;
}

.signInContainer h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#fd3a84 0%, #ffa68d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  font-family: SFCompact;
}

.signInLogo {
  height: 7rem;
  margin-top: 0em;
  /* transform: rotate(10deg); */
}

.rhymeContainer {
  padding: 3em 3em 3em 1em;
  max-width: 30%;
  text-align: left;
  /* max-height: 77.5vh; */
  margin-left: auto;
  overflow: scroll;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), w0 3px 6px rgba(0, 0, 0, 0.23); */
}

::-webkit-scrollbar {
  width: 0em;
}

.rhymeWord {
  border: 1px solid rgb(137, 255, 170);
  background-color: rgb(242, 255, 247);
  padding: 0.4em;
  display: inline-block;
  border-radius: 0.2em;
  margin: 0.2em;
}
.rhymeWordNear {
  border: 1px solid rgb(255, 137, 137);
  background-color: rgb(255, 242, 242);
  padding: 0.4em;
  display: inline-block;
  border-radius: 0.2em;
  margin: 0.2em;
}

.textEditor {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  flex-grow: 1.5;
  background-color: white;
  padding: 1em;
  text-align: left;
  line-height: 1.6;
}
::selection {
  color: black;
  background: rgb(255, 255, 152);
}

.line {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.syllables {
  background-color: rgb(238, 238, 238);
  width: 1.2em; /* or whatever width you want. */
  max-width: 1.2em; /* or whatever width you want. */
  display: inline-block;
  padding: 0em 0.5em 0em 0.5em;
  margin-right: 0.4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 0.4em;
  user-select: none;
  text-align: center;
}

.breakLine {
  width: 100%;
  background-color: #000;
}
.emptyLine {
  background-color: rgb(0, 0, 0);
  width: 100%; /* or whatever width you want. */
  height: 2px;
  display: inline-block;
  /* padding: 0em 0.5em 0em 0.5em; */
  margin-bottom: 0em;
  margin-right: 0.4em;
  margin-top: 0.2em;
  border-radius: 0.4em;
  user-select: none;
  text-align: center;
}
.emptyLine + span {
  font-size: 0.5em;
  margin-bottom: 0.2em;
  margin-top: 0em;
}

.iconListItem {
  display: flex;
  align-items: center;
}

.titleLeft {
  display: none;
}
